# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies node
node_backend/node_modules

# dependencies react
react_frontend/node_modules
react_frontend/.pnp
react_frontend/.pnp.js

# testing
/coverage

# production
react_frontend/build

# misc
react_frontend/.DS_Store
react_frontend/.env.local
react_frontend/.env.development.local
react_frontend/.env.test.local
react_frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
